<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <style>
        .error { color: red; margin-bottom: 10px; }
    </style>
</head>
<body>
    <h1>Sign Up</h1>
    
    <% if (locals.errors && errors.length > 0) { %>
        <div class="error">
            <% errors.forEach(error => { %>
                <p><%= error.msg %></p>
            <% }); %>
        </div>
    <% } %>

    <form action="/auth/signup" method="POST">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" 
                value="<%= locals.oldInput ? oldInput.firstName : '' %>" required>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" 
                value="<%= locals.oldInput ? oldInput.lastName : '' %>" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" 
                value="<%= locals.oldInput ? oldInput.email : '' %>" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div>
            <label for="isAdmin">Is Admin:</label>
            <input type="checkbox" id="isAdmin" name="isAdmin" 
                <%= locals.oldInput && oldInput.isAdmin ? 'checked' : '' %>>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/auth/login">Login</a></p>
</body>
</html>